h5 {
  font-size: 1.25rem;
}

.css-alert-box {
  background-color: #f6f7f7;
  border: 1px solid #cacbcd;
  overflow: auto;
  max-height: 550px;
}

tr .mat-header-row {
  height: 50px;
  border-bottom: 2px solid #cacbcd !important;
}

.header-style {
  color: black;
  font-size: 12px;
  font-family: boschsansbold !important;
  border-bottom: 1px solid #cacbcd;
  z-index: 1 !important;
}

.notify-body .header-line-child {
  font-family: boschsanslight !important;
}

.rb-border-color {
  color: #005691;
  border-color: #005691;
  line-height: 30px;
  width: 105px;
}