<div class="wrapper fadeInDown">
    <div class="boschup-head">
        <b>PHANTOM</b><br>
        <span class="font-light italic">Connected Elevator</span>
    </div>
    <div id="formContent">
        <!-- Tabs Titles -->

        <!-- Icon -->
        <div class="fadeIn first">
            <h3>Forgot Password</h3>
        </div>

        <!-- Login Form -->
        <form #cahnagePass="ngForm" (ngSubmit)="changePassword(cahnagePass)">

            <!------------- New password -------------------->
            <!-- <h4>Enter your new password</h4> -->
            <div class="form-group new-pass" [class.has-error]="passControl.invalid && passControl.touched"
                [class.val-error-pass]="passControl.invalid && passControl.touched" *ngIf="!passwordChanged">
                <h4>Enter your new password</h4>
                <div class="pass-div">
                    <span _ngcontent-c2="" class="input-group-addon"
                        [class.icon]="passControl.invalid && passControl.touched"><i _ngcontent-c2=""
                            class="fa fa-lock text-primary"></i></span>
                    <input type="password" id="signin-pass" class="fadeIn third form-control" name="password"
                        placeholder="Password" required [(ngModel)]="password" #passControl="ngModel">
                    <!-- validation error message for password -->
                    <br><span class="help-block val-error-msg2" *ngIf="passControl.invalid && passControl.touched">*
                        Password is required</span>
                </div>
                <br>
            </div>

            

            <!-- ---------------confirm new password -------------->
            
            <div class="form-group new-pass" [class.has-error]="conPassControl.invalid && conPassControl.touched"
                [class.val-error-pass]="conPassControl.invalid && conPassControl.touched" *ngIf="!passwordChanged">
                <h4>Confirm your new password</h4>
                <div class="pass-div">
                    <span _ngcontent-c2="" class="input-group-addon"
                        [class.icon]="conPassControl.invalid && conPassControl.touched"><i _ngcontent-c2=""
                            class="fa fa-lock text-primary"></i></span>
                    <input type="password" id="confirm-pass" class="fadeIn third form-control" name="conPassword"
                        placeholder="Confirm Password" required [(ngModel)]="conPassword" #conPassControl="ngModel">
                    <!-- validation error message for password -->
                    <br><span class="help-block val-error-msg2" *ngIf="conPassControl.invalid && conPassControl.touched" style="margin-left: -47%;">*
                        Confirm Password is required</span><span class="help-block val-error-msg2" *ngIf="conPassControl.touched && conPassword !== '' && (password !== conPassword)">*Passwords do not match</span>
                </div>
                <br>
            </div>

            

            <!-------------- Sumit button ----------------->
            <div class="content login-btn" *ngIf="!passwordChanged">
                <button type="submit" class="rb-btn loginbtn fadeIn ">Submit</button>
            </div>

            <div *ngIf="passwordChanged">
                <h3>Your password has been successfully changed!</h3>

                <h3>You will be redirected to login page.</h3>
                <div class="content login-btn">
                    <button routerLink="/auth/changePassword" class="rb-btn loginbtn fadeIn ">Click here to Login</button>
                </div>
            </div>

        </form>
    </div>
</div>