<div class="modalbox">
    <h1 mat-dialog-title>Change Password <span style="display: contents;" (click)="close()" class="input-group-addon icon"><em style="margin-left:400px" class="fa fa-close text-primary "></em></span></h1>
    <div mat-dialog-content>
        <mat-form-field [appearance]="'none'" class="input-field-container">
            <input matInput disabled style="display: none;text-decoration: none;border: none;height:0px; width:0px" class="form-control">
            <div class="password-div">
                <input type="Password" class="form-control" placeholder="Current Password" [(ngModel)]="data.currentPass">
            </div>
            <div class="password-div">
                <input style="display: inline;" type="Password" *ngIf="!showNewPassEye" class="form-control" placeholder="New Password" [(ngModel)]="data.newPass">
                <input style="display: inline;" type="Text" *ngIf="showNewPassEye" class="form-control" placeholder="New Password" [(ngModel)]="data.newPass">
                <span style="display: contents;" class="input-group-addon icon" *ngIf="showNewPassEye" (click)= "showNewPassword()"><em class="fa fa-eye text-primary "></em></span>
                <span style="display: contents;" class="input-group-addon icon" *ngIf="!showNewPassEye" (click)= "showNewPassword()"><em class="fa fa-eye-slash text-primary "></em></span>
            </div>
            <div class="password-div">
                <input style="display: inline;" type="Password" class="form-control" *ngIf="!showConfirmPassEye" placeholder="Confirm New Password" [(ngModel)]="data.confirmNewPass">
                <input style="display: inline;" type="Text" class="form-control" *ngIf="showConfirmPassEye" placeholder="Confirm New Password" [(ngModel)]="data.confirmNewPass">
                <span style="display: contents;" class="input-group-addon icon" *ngIf="showConfirmPassEye" (click)= "showConfirmPassword()"><em class="fa fa-eye text-primary "></em></span>
                <span style="display: contents;" class="input-group-addon icon" *ngIf="!showConfirmPassEye" (click)= "showConfirmPassword()"><em class="fa fa-eye-slash text-primary "></em></span>
            </div>
        </mat-form-field>
    </div>
    <div mat-dialog-actions style="margin-top:30px">
        <button mat-button id="Confirm" cdkFocusInitial style="left: 3%;" (click)= "resetPassword(data.currentPass, data.newPass, data.confirmNewPass)" 
        [class.disable-btn]="!data.currentPass || !data.confirmNewPass || !data.newPass"
        [disabled]="!data.currentPass || !data.confirmNewPass || !data.newPass">
            Confirm 
        </button>
        <button mat-button (click)= "clear()" type="reset" style="left: 69%;">Reset</button>
    </div>
</div>