.modalbox{
    width: 600px;
    margin: 0 auto;
}
.mat-form-field{
    width: 100%;
}
.mat-form-field input{
    height: 40px;
    margin: auto -24px 20px 16px;
}
.mat-dialog-actions button{
    background-color: #3c8dbc;
    // border-color: #367fa9;
    color: #fff;
    margin-top: -50px;
    border-color: #367fa9;
    border-radius: none;
}

.icon {
    width:100%;
    cursor: pointer;
  }

.val-error-msg1{
    text-align: left;
    width: 100%;
    color: red!important;
    margin-left: 3%;
    border: none!important;

}

.password-div {
    display: inline;
}

.disable-btn{
    cursor: not-allowed;//changing the ee
  }

  
  .ng-star-inserted {
    display: none;
  }
