<!-- ***------------------------ Last Updated on ------------------------>
<div class="prevent-cssLeak-rtm">
    <div class="layout-row" style="justify-content: flex-end;margin: 21px 16px 0 0;">
        <img src="../../../../../assets/Images/Icons/clock.svg" class="clock-img" alt="">
        <div style="color: #525f6b"> &nbsp;&nbsp;Last Updated
            :&nbsp;{{oLastReportUpdatedOn | date:'hh:mm a'}} </div>
    </div>
    <div class="layout-row" *ngIf="(!bMachines || !bMachines.length) && !isSpinerLoading"
        style="margin-left: 3%;align-items: center;">
        <h5>
            <mat-icon>info</mat-icon>
        </h5>
        <h5>&nbsp;&nbsp;No device found</h5>
    </div>
    <div class="default-padding" style="overflow: auto;" *ngIf="bMachines">


        <mat-grid-list [cols]="breakpoint" [rowHeight]="'195px'" gutterSize="10px">
            <mat-grid-tile [rowspan]="row.rowSpan" *ngFor="let row of bMachines" style="border:1px solid #eee;"
                [style.min-width]="bMachines.length == 1 ? '316px' : 'auto'">

                <!-- **---------------- Header (Asset Name & Status) ------------------------->
                <mat-grid-tile-header [ngClass]="'header-'+(row.status|lowercase)" style="cursor: pointer;"
                    (click)="onSelectWidget(row)">
                    <div class="layout-row" style="width: 100%;">
                        <span style="font-size: 18px">{{row.assetName}}</span>
                        <span class="flex"></span>
                        <span
                            style="font-weight: 500;font-size: 16px;text-transform: capitalize">{{((row.status| lowercase) ==='selected')?'':row.status}}</span>
                    </div>
                </mat-grid-tile-header>

                <!-- ** --------------------------------
                        Current TIME REPORT 
                    ---------------------------------------------->
                <div style="display: flex;flex-direction: column;padding-top:48px;width: 100%;" class="viewPortWidth">
                    <h4 class="window-label" style="margin-bottom: 5px;">Current Day</h4>
                    <div style="width:100%" class="report-Fonts">
                        <table class="table" style="margin-bottom: 9px;">
                            <tr>
                                <td> {{row.floors}} <br> <span>Floors</span> </td>
                                <td>{{row.trips}} <br> <span>Trips</span></td>
                                <td> {{row.util}}%<br> <span>Utilization</span></td>
                                <td [style.font-size]="onFontSize(row.downtime)"> {{row.downtime}}<br> <span>Downtime
                                        (mins)</span></td>
                                <td style="border-right: none" [style.font-size]="onFontSize(row.energy)">
                                    {{row.energy}}
                                    <br> <span>Energy (kWh)</span> </td>
                            </tr>
                        </table>
                    </div>
                    <mat-divider style="opacity: 0.4;"></mat-divider>
                    <div class="layout-row" [style.padding-top]="row.rowSpan==1?0:'15px'" *ngIf="windowList">
                        <h4 class="window-label flex"> {{windowList.text}}</h4>
                        <button mat-icon-button (click)="onRowSpanWidget(row.assetId, row.rowSpan)">
                            <mat-icon style="opacity: 0.7;">{{row.rowSpan==1?'add_circle':'remove_circle'}}</mat-icon>
                        </button>
                    </div>
                    <!-- ... End current time report -->

                    <!-- ** --------------------------------
                        WINDOE TIME BASED REPORT 
                    ---------------------------------------------->
                    <div style="width:100%" class="report-Fonts" *ngIf="row.metricWindow && row.rowSpan == 2">
                        <table class="table">
                            <tr>
                                <td [style.font-size]="onFontSize(row.metricWindow.floors)"> {{row.metricWindow.floors}}
                                    <br><span>Floors</span> </td>
                                <td [style.font-size]="onFontSize(row.metricWindow.trips)">{{row.metricWindow.trips}}
                                    <br>
                                    <span>Trips</span></td>
                                <td> {{row.metricWindow.util}}%<br> <span>Utilization</span></td>
                                <td [style.font-size]="onFontSize(row.metricWindow.downtime)">
                                    {{row.metricWindow.downtime}}<br>
                                    <span>Downtime(mins)</span></td>
                                <td style="border-right: none" [style.font-size]="onFontSize(row.metricWindow.energy)">
                                    {{row.metricWindow.energy}}<br> <span>Energy (kWh)</span> </td>
                            </tr>

                            <tr class="metricWindow-second-padding">
                                <td> {{row.metricWindow.floorsDay}} <br> <span>Floors/day</span>
                                </td>
                                <td>{{row.metricWindow.tripsDay}}<br> <span>Trips/day</span></td>
                                <td>{{row.metricWindow.peakHour}}<br> <span>Peak Usage</span></td>
                                <td>{{row.metricWindow.peakDay}}<br> <span>Peak Usage</span></td>
                                <td style="border-right: none"
                                    [style.font-size]="onFontSize(row.metricWindow.energyDay)">
                                    {{row.metricWindow.energyDay}}
                                    <br> <span>Energy/day (kWh)</span> </td>
                            </tr>

                        </table>
                    </div>
                    <!-- ...... End... Window Time report -->
                    <mat-divider *ngIf="row.rowSpan==1"></mat-divider>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>

    <div *ngIf="paginationConfig.length !=0 && paginationConfig.length > onPageSize() " class="pagination-align">
        <mat-paginator [length]="paginationConfig.length" [pageIndex]="paginationConfig.pageIndex"
            (page)="onPageChange($event)" [showFirstLastButtons]="true" [pageSize]="onPageSize()" [hidePageSize]="true"
            style="background-color: #ffffffde;font-size: 15px;">
        </mat-paginator>
    </div>
</div>