<div class="wrapper fadeInDown">
  <div class="boschup-head">
    <b>PHANTOM</b><br>
    <span class="font-light italic">Connected Elevator</span>
  </div>
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <!-- <img src="../../assets/img/Bosch-logo.png" style="height:75px;width:100px;float-right:1000px"> -->
      <h3>Forgot Password!</h3>
      <p _ngcontent-c3="" class="auth-sub-title ng-star-inserted sub-head" *ngIf="!otpSent"> Enter your registered Email ID or User ID</p>
      <p _ngcontent-c3="" class="auth-sub-title ng-star-inserted sub-head" *ngIf="otpSent"> Enter OTP</p>
    </div>

    <!-- forget password Form -->
    <form class="form-group" [formGroup]="otpForm" #form="ngForm">
      <div [class.has-error]="otpForm.controls.emailControl.invalid && otpForm.controls.emailId.touched"
      [class.val-error]="otpForm.controls.emailId.invalid && otpForm.controls.emailId.touched" *ngIf="!otpSent">
      <input type="text" id="forgotPass" class="fadeIn second" name="emailId" placeholder="Email ID or User ID" required
      [formControlName]="'emailId'" >
      <!-- validation error message -->
      <br><span class="help-block val-error-msg" *ngIf="!otpForm.controls.emailId.valid && otpForm.controls.emailId?.touched">*Email ID or User ID is
        required</span>
      </div>
      <div *ngIf="otpSent">
      <input type="text" id="verify OTP" class="fadeIn second" name="otp" placeholder="OTP" required
      [formControlName]="'otp'">
      <!-- validation error message -->
      <br><span class="help-block val-error-msg" *ngIf="!otpForm.controls.otp.valid && otpForm.controls.otp.touched">*Enter OTP</span>
    </div>
      <div class="content reset-btn" *ngIf="!otpSent">
        <button type="submit" id="generateOtp" class="rb-btn resetbtn fadeIn" (click)="generateOtp(otpForm.controls.emailId.value)"
          [class.disable-btn]="(otpForm.controls.emailId.value === '' && otpForm.controls.emailId.touched) || (otpForm.controls.emailId.invalid && otpForm.controls.emailId.untouched)"
          [disabled]="(otpForm.controls.emailId.value === '' && otpForm.controls.emailId.touched) || (otpForm.controls.emailId.invalid && otpForm.controls.emailId.untouched)">Generate otp</button>
      </div>
      <div class="content reset-btn" *ngIf="!otpSent" style="margin-top: -10px;">
        <button type="submit" id="haveOtp" class="rb-btn resetbtn fadeIn"
          [class.disable-btn]="(!otpForm.controls.emailId.valid && otpForm.controls.emailId.touched) || (!otpForm.controls.emailId.valid && otpForm.controls.emailId.untouched)"
          [disabled]="(!otpForm.controls.emailId.valid && otpForm.controls.emailId.touched) || (!otpForm.controls.emailId.valid && otpForm.controls.emailId.untouched)" (click)="alreadyHaveOtp()">already have otp</button>
      </div>

      <!-- after otp generated -->
      <div class="content reset-btn" *ngIf="otpSent">
        <button type="submit" id="generateOtp" class="rb-btn resetbtn fadeIn"
          [class.disable-btn]="(!otpForm.controls.otp.valid && otpForm.controls.otp.touched) || (!otpForm.controls.otp.valid && otpForm.controls.otp.untouched)"
          [disabled]="(!otpForm.controls.otp.valid && otpForm.controls.otp.touched) || (!otpForm.controls.otp.valid && otpForm.controls.otp.untouched)" (click)="submitOtp(otpForm.controls.otp.value)">verify otp and set password</button>
      </div>
      <div class="content reset-btn" *ngIf="otpSent">
        <button type="submit" id="haveOtp" class="rb-btn resetbtn fadeIn" (click)="generateOtp(otpForm.controls.emailId.value)">Resend otp</button>
      </div>

    </form>
  </div>
</div>
<!-- disabled="true" -->